body {
    background-color: lavenderblush;
}


div {
    background-color: white;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    align-self: center;
}

img{
    float: left;
    height:340px;
    border-radius: 5px;

}

button{
    background-color: green;
    border-radius: 5px;
    width: 50%;
    color: white;
    height: 400px;
    border-color: green;
}

h6{
    color:rgb(161, 158, 158);
}

h2{
    font-weight: bolder;
    font-weight: bolder;
    font-size: 20px;
}

p{
    color:rgb(161, 158, 158);
}

s{
    font-size: x-small;
    color:rgb(161, 158, 158);
}